{% extends 'layouts/default.html' %}

{% block title %}
  Shortener index
{% endblock %}

{% block h1 %}
  Shortener index
{% endblock %}

{% block content %}
  <p class="mb-8">
    <a href="{% url 'shortener.create' %}" class="btn">Create new token</a>
  </p>

  <h3>Recently added tokens</h3>

  <form class="w-1/2" action="{% url 'shortener.index' %}" method="GET" novalidate>
    <div class="flex flex-row space-x-4 items-center">
      <div><label><input type="text" name="query" value="{{ query }}" placeholder="Type URL..."></label></div>
      <div><input type="submit" value="Search"></div>
    </div>
  </form>

  <ul class="dash">
    {% for token in tokens_page_obj %}
      <li class="flex space-x-8">
        <div class="w-1/3 truncate">
          <a href="{{ token.full_url }}" target="_blank">{{ token.full_url }}</a>
        </div>
        <div>
          <a href="{% url 'shortener.redirect' short_url=token.short_url %}" target="_blank">{{ token.short_url }}</a>
        </div>
      </li>
    {% empty %}
      <li>No tokens found</li>
    {% endfor %}
  </ul>

  {% include 'components/pagination.html' with page_obj=tokens_page_obj %}
{% endblock %}