@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */
body {
  @apply w-full h-full bg-cover bg-center bg-no-repeat bg-gradient-to-t from-zinc-200 to-orange-50 overflow-y-scroll text-base antialiased;
}

section.container {
  @apply flex flex-col min-h-screen h-full justify-between mx-auto bg-white shadow-lg;
}

.header {
  @apply flex flex-nowrap justify-between items-center mb-8 py-4;
}

.header .logo {
  @apply no-underline text-3xl bg-gradient-to-b from-pink-400 to-orange-400 text-white rounded px-4;
}

.header .logo > i.fa-solid {
  @apply text-2xl;
}

.header .center-menu {
  @apply flex justify-center space-x-8 text-xl;
}

.header .right-menu {
  @apply flex justify-center space-x-4;
}

.header ul > li:before {
  display: none;
}

.body {
  @apply mb-auto;
}

.footer {
  @apply 2xl:mx-[-6rem] xl:mx-[-5rem] lg:mx-[-4rem] sm:mx-[-2rem] mx-[-1rem]
  2xl:px-[6rem] xl:px-[5rem] lg:px-[4rem] sm:px-[2rem] px-[1rem]
  mt-4 py-4 min-h-[8rem] text-base text-center
  bg-gradient-to-b from-slate-700 to-gray-600 text-gray-100
  flex flex-row flex-wrap items-center place-items-center;
}

.footer ul {
  @apply flex flex-col w-full md:w-1/2 lg:w-1/3 items-start justify-items-start;
}

.footer ul li {
  @apply my-1;
}

.footer a {
  @apply text-sm text-blue-200;
}

/* General */

h1, h2, h3 {
  @apply my-4 font-medium text-gray-600;
}

h1 {
  @apply text-3xl font-bold text-gray-500;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

p {
  @apply my-4;
}

a {
  @apply text-blue-500 underline;
}

ul {
  @apply my-4;
}

ul li {
  @apply my-2;
}

/* Decoration */

.toggle {
  @apply border-b-2 border-b-rose-400 border-dashed cursor-pointer select-none;
}

ul.dash > li:before {
  @apply inline-block w-[1.2em] ml-[-1.2em] p-0 text-rose-500;
  content: "—";
}

a.btn {
  @apply inline-block rounded-lg py-2 px-4 min-w-[8rem] bg-blue-400 text-center text-white cursor-pointer select-none;
}

pre {
  @apply my-4 rounded-lg shadow p-2 bg-gradient-to-b from-slate-100 to-gray-100 overflow-auto;
}

/* Forms */

form > p {
  @apply w-full mt-0 mb-4;
}

form > ul > li {
  @apply w-full mt-0 mb-4;
}

form label {
  @apply font-medium text-gray-800 dark:text-white;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="url"],
form textarea,
form select {
  @apply block w-full m-0 rounded p-2
  ring-0 border-2 border-gray-300 bg-gray-50 text-gray-800
  focus:ring-0 focus:outline-none
  focus:border-blue-300 focus:bg-white focus:text-gray-900;
}

form input[type="checkbox"] {
  @apply float-left mr-3 mt-2 w-4 h-4 rounded
  ring-0 border-2 border-rose-400 bg-white text-rose-400
  focus:ring-rose-300;
}

form select {
  @apply lg:w-1/2 2xl:w-1/4;
}

form input.invalid,
form textarea.invalid {
  @apply border-red-300 bg-red-50 text-red-800;
}

form button,
form input[type="submit"] {
  @apply block rounded-lg py-2 px-4 min-w-[8rem] bg-blue-400 text-white cursor-pointer;
}

.helptext {
  @apply block text-sm text-gray-400;
}

ul.errorlist {
  @apply block m-0 p-0 text-sm;
}

ul.errorlist > li {
  @apply block m-0 p-0 text-red-500;
}

ul.errorlist > li:before {
  @apply inline-block w-[1.2em] ml-[-1.2em] p-0 text-red-500;
  content: "—";
}

form > p span {
  @apply block;
}

form > ul > li span {
  @apply block;
}

/* Alerts */

.alert {
  @apply inline-block rounded mt-2 py-2 px-4 bg-gray-600 text-white;
}

.alert.alert-success {
  @apply bg-green-500;
}

.alert.alert-error {
  @apply bg-red-500;
}

/* Pagination */

.pagination {
  @apply mt-8 mb-4 font-mono;
}

.pagination > .step-links {
  @apply inline-block flex flex-row items-center space-x-3;
}

.pagination > .step-links > .first {
  @apply pr-4;
}

.pagination > .step-links > .next {
  @apply pl-4;
}

.pagination > .step-links > a {
  @apply inline-block text-stone-800 no-underline;
}

.pagination > .step-links > a.number {
  @apply rounded-full w-10 h-10 text-center leading-[2.5rem] align-middle hover:bg-stone-200 transition duration-150 ease-in-out;
}

.pagination > .step-links > span {
  @apply inline-block cursor-default text-stone-800;
}

.pagination > .step-links > span.number {
  @apply rounded-full w-10 h-10 text-center leading-[2.5rem] align-middle bg-stone-200;
}