{% extends 'layouts/default.html' %}

{% block title %}
  Log In
{% endblock %}

{% block h1 %}
  Log in
{% endblock %}

{% block messages %}
  {% include 'components/messages.html' with messages=messages only %}
{% endblock %}

{% block content %}
  <div class="w-1/2">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p class="submit">
        <input type="submit" value="Log In">
      </p>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
  </div>
{% endblock %}