{% extends 'layouts/default.html' %}

{% block title %}
  Confirm password reset
{% endblock %}

{% block h1 %}
  Confirm password reset
{% endblock %}

{% block messages %}
  {% include 'components/messages.html' with messages=messages only %}
{% endblock %}

{% block content %}
  {% if validlink %}
    <p>Please enter your new password twice, so we can verify you typed it in correctly.</p>
    <div class="w-1/2">
      <form method="post">
        {% csrf_token %}
        <p>
          {{ form.new_password1.errors }}
          <label for="id_new_password1">New password:</label>
          {{ form.new_password1 }}
          <span class="helptext">
            Your password can’t be too similar to your other personal information.<br>
            Your password must contain at least 8 characters.<br>
            Your password can’t be a commonly used password.<br>
            Your password can’t be entirely numeric.
          </span>
        </p>
        <p>
          {{ form.new_password2.errors }}
          <label for="id_new_password2">New password confirmation:</label>
          {{ form.new_password2 }}
        </p>
        <p class="submit">
          <input type="submit" value="Change password">
        </p>
      </form>
    </div>
  {% else %}
    <p>The password reset link was invalid, possibly because it has already been used.<br>
      Please request a new password reset.</p>
  {% endif %}
{% endblock %}