{% extends 'layouts/default.html' %}

{% block title %}
  Reset password
{% endblock %}

{% block h1 %}
  Reset password
{% endblock %}

{% block messages %}
  {% include 'components/messages.html' with messages=messages only %}
{% endblock %}

{% block content %}
  <p>Forgotten your password?
    Enter your email address below, and we’ll email instructions for setting a new one.</p>

  <div class="w-1/2">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <p class="submit">
        <input type="submit" value="Reset">
      </p>
    </form>
  </div>
{% endblock %}
