{% extends 'layouts/default.html' %}

{% block title %}
  Password reset done
{% endblock %}

{% block h1 %}
  Password reset done
{% endblock %}

{% block messages %}
  {% include 'components/messages.html' with messages=messages only %}
{% endblock %}

{% block content %}
  <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered.<br>
    You should receive them shortly.</p>
  <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
{% endblock %}