{% extends 'layouts/default.html' %}

{% block title %}
  Home
{% endblock %}

{% block h1 %}
  Hello {{ request.user.first_name }}!
{% endblock %}

{% block content %}
  <ul>
    <li><a href="{% url 'profile' %}">Edit profile</a></li>
    <li><a href="{% url 'password' %}">Change password</a></li>
  </ul>

  {% if recent_messages %}
    <p>Recent messages:</p>

    <ul class="dash">
      {% for message in recent_messages %}
        <li>{{ message.message }}
          <div class="text-sm text-rose-400">sent by {{ message.name }} at {{ message.created_at }}</div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No messages found</p>
  {% endif %}
{% endblock %}